* {
  box-sizing: border-box;
}

.container {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  padding: 30px;
  background-color: #262626;
  border-radius: 25px;
}

.screen {
  width: 95%;
  height: 60px;
  border: 2px solid black;
  background: lightgray;
  text-align: end;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
  font-weight: 800;
}

.removeBtns {
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.removeBtns button {
  padding: 5px 50px;
  font-size: large;
  color: white;
  font-weight: bold;
}

.clear {
  background-color: #255c99;
}
.delete {
  background-color: #b3001b;
}
.btns {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  width: 22%;
  padding: 10px;
  background-color: lightgray;
  border: 1px solid black;
  margin: 5px;
}

.btn:hover {
  background-color: white;
}
